name: Windows CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: windows-2025
    strategy:
      matrix:
        platform: [x86, x64]
        build_type: [Debug, Release]

    steps:
    - uses: actions/checkout@master
    - uses: seanmiddleditch/gha-setup-ninja@master
    - uses: TheMrMilchmann/setup-msvc-dev@v3
      with:
        arch: ${{matrix.platform}}

    - name: Configure
      # Use a bash shell for $GITHUB_WORKSPACE.
      shell: bash
      run: |
        cmake -B build -G Ninja \
              -DCMAKE_BUILD_TYPE=${{matrix.build_type}} \
              -DCMAKE_CXX_EXTENSIONS=Off \
              -DFLUX_BUILD_BENCHMARKS=${{matrix.build_type == 'Release'}}

    - name: Build
      run: cmake --build build --config ${{matrix.build_type}}

    - name: Test
      working-directory: ${{github.workspace}}/build
      run: ctest -C ${{matrix.build_type}} -V
      env:
        CTEST_OUTPUT_ON_FAILURE: True
